/* You can add global styles to this file, and also import other style files */
.main-box{
    padding: 25px;
}

.float-right{
    float: right;
}
.float-left{
    float: left;
}
.btn-bulat {
    border-radius: 12px;
} 

.form-control.ng-touched.ng-invalid{
   border: 2px solid red; 
}