
    
    <!--Navbar -->
    <nav class=" navbar fixed-top navbar-expand-lg navbar-dark red darken-4">
     
          <a class="navbar-brand bold menu-icon" (click)="toggleMenu()">
              <i class="fa fa-bars " aria-hidden="true" style="color: white"></i></a> 
      <a class="navbar-brand bold" href="#"> Life Emergency</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-gear"></i> Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">
              <i class="fa fa-sign-out"></i> Log out</a>
          </li>
    
        </ul>
      </div>
   
    </nav>
    <!--/.Navbar -->
    
    
    
    <div id="wrapper" [ngClass]="{'toggled': menu_state }">
    
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  <a href="/admin-dashboard">Menu</a>
                      
                </li>
                <li>
                    <a (click)="showManageHospital()"><i class="fa fa-hospital-o" aria-hidden="true"></i> Manage Hospital</a>
                </li>
                <li>
                    <a (click)="showManageUser()"><i class="fa fa-user-md" aria-hidden="true"></i> Manage Doctor</a>
                </li>
                <li>
                  <a (click)="showManageUser()"><i class="fa fa-user" aria-hidden="true"></i> Manage User</a>
              </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div class="main-box">
          <router-outlet></router-outlet>
        </div>
        


        <!-- /#page-content-wrapper -->
    
    </div>
    <!-- /#wrapper -->


  