

<!-- Card -->
<div class="card">


  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <div>
      <h4 class="card-title">
        <a>Manage Hospital</a> 
        <a class="btn btn-primary red darken-4 float-right">
            <i class="fa fa-plus" aria-hidden="true"></i> Button</a>
      </h4>
    </div>
    
    <!-- Text -->
    <p class="card-text">List of Hospital</p>
    <!--Table-->
<table class="table table-striped table-responsive-md btn-table">

    <!--Table head-->
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <button type="button" class="btn btn-primary btn-rounded btn-sm my-0 btn-bulat">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-danger btn-rounded btn-sm my-0 btn-bulat">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>

        </tr>
        
        <tr>
            <th scope="row">1</th>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <button type="button" class="btn btn-primary btn-rounded btn-sm my-0 btn-bulat">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-danger btn-rounded btn-sm my-0 btn-bulat">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>

        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <button type="button" class="btn btn-primary btn-rounded btn-sm my-0 btn-bulat">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-danger btn-rounded btn-sm my-0 btn-bulat">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>

        </tr>
    </tbody>
    <!--Table body-->

</table>
<!--Table-->
    <!-- Button -->
    

  </div>

</div>
<!-- Card -->
