<!-- Card -->
<div class="card">


  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <div>
      <h4 class="card-title">
        <a>Manage Hospital</a>
        <button class="btn btn-primary red darken-4 float-right" data-toggle="modal" data-target="#add-hospital">
          <i class="fa fa-plus" aria-hidden="true"></i> Add New</button>
      </h4>
    </div>

    <!-- Text -->
    <p class="card-text">List of Hospital</p>
    <!--Table-->
    <table class="table table-striped table-responsive-md btn-table">

      <!--Table head-->
      <thead>
        <tr>
          
          
          <th>Name</th>
          <th>Address</th>
          <th>District</th>
          <th>Postcode</th>
          <th>State</th>
          <th>Action</th>
        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
        <tr *ngFor="let hospital of hospitals">       
          <td>{{hospital.name}}</td>
          <td>{{hospital.address}} </td>
          <td>{{hospital.district}}</td>
          <td>{{hospital.postcode}}</td>
          <td>{{hospital.state}}</td>
          <td>
            <button type="button" class="btn btn-primary btn-rounded btn-sm my-0 btn-bulat" (click)="editHospital(hospital)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-danger btn-rounded btn-sm my-0 btn-bulat" (click)="deleteHospital(hospital)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>

        </tr>

      </tbody>
      <!--Table body-->

    </table>
    <!--Table-->
    <!-- Button -->


    <!-- Modal -->
    <div class="modal fade " id="add-hospital" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <form (ngSubmit)="saveHospital()" id="saveHospitalForm">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Hospital</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                    <label for="Hospital Name">Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="model.name"> 
                </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="Hospital Name">Address</label>
                      <input type="text" class="form-control" name="address" [(ngModel)]="model.address">
                  </div>
                  <div class="form-group">
                      <label for="Hospital Name">District</label>
                      <input type="text" class="form-control" name="district" [(ngModel)]="model.district">
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Hospital Name">Postcode</label>
                        <input type="text" class="form-control" name="postcode" [(ngModel)]="model.postcode">
                    </div>
                    <div class="form-group">
                        <label for="Hospital Name">State</label>
                        <input type="text" class="form-control" name="state" [(ngModel)]="model.state">
                        <!-- <select name="state" class="form-control" [(ngModel)]="model.state">
                          <option value="Perlis">Perlis</option>
                          <option value="Kedah">Kedah</option>
                          <option value="Penang">Penang</option>
                          <option value="Perak">Perak</option>
                          <option value="Selangor">Selangor</option>
                          <option value="Kelantan">Kelantan</option>
                          <option value="Terengganu">Terengganu</option>
                          <option value="Pahang">Pahang</option>
                          <option value="Kuala Lumpur">Kuala Lumpur</option>
                          <option value="Putrajaya">Putrajaya</option>
                          <option value="Negeri Sembilan">Negeri Sembilan</option>
                          <option value="Melaka">Melaka</option>
                          <option value="Johor">Johor</option>
                          <option value="Sarawak">Sarawak</option>
                          <option value="Sabah">Sabah</option>
                          <option value="Labuan">Labuan</option>
                        </select> -->
                    </div>
                  </div>
              
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" type="submit">Save changes</button>
          </div>
        </form>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- Card -->