<!-- Card -->
<div class="card">


  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <div>
      <h4 class="card-title">
        <a>Manage User</a>
        <button class="btn btn-primary red darken-4 float-right" data-toggle="modal" data-target="#add-user">
          <i class="fa fa-plus" aria-hidden="true"></i> Add New</button>
      </h4>
    </div>

    <!-- Text -->
    <p class="card-text">List of User</p>
    <!--Table-->
    <table class="table table-striped table-responsive-md btn-table">

      <!--Table head-->
      <thead>
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Name</th>
          <th>Title</th>
          <th>Username</th>
          <th>Status</th>
          <th>Hospital</th>
          <th>Action</th>
        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>DOC-021123</td>
          <td>Polan bin Si Polan</td>
          <td>Dr Prof </td>
          <td>polan46</td>
          <td>Active</td>
          <td>Hospital Putrajaya</td>
          <td>
            <button type="button" class="btn btn-primary btn-rounded btn-sm my-0 btn-bulat">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-danger btn-rounded btn-sm my-0 btn-bulat">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>

        </tr>



      </tbody>
      <!--Table body-->

    </table>
    <!--Table-->
    <!-- Button -->


    <!-- Modal -->
    <div class="modal fade " id="add-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- Card -->