<div class="container">
<!-- Grid row -->
<div class="row justify-content-md-center" style="padding-top: 15%">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12">

        <!--Panel-->
        <div class="card card-body">
            <h3 class="card-title text-center font-weight-bold">Sign In</h3>
            <h4 class="card-title text-center ">Life Emergency Application</h4>
            <!-- Default form login -->
<!-- Material form login -->


<!-- Default form login -->
<form (ngSubmit)="login()" #loginForm="ngForm">  
        <!-- Default input email -->
        <label for="defaultFormLoginEmailEx" class="grey-text">Your username</label>
        <input type="text" id="defaultFormLoginEmailEx" class="form-control" [(ngModel)]="model.username" name="username" #username="ngModel" required>
        <br>
    
        <!-- Default input password -->
        <label for="defaultFormLoginPasswordEx" class="grey-text"  >Your password</label>
        <input type="password" id="defaultFormLoginPasswordEx" class="form-control" [(ngModel)]="model.password" name="password" #password="ngModel">
    
        <div class="text-center mt-4">
            <button class="btn btn-indigo" type="submit" [disabled]="!loginForm.valid">Login</button>
        </div>
        <div class="text-center mt-4">
                <a routerLink="/register">Sign Up Here !</a>
        </div>
    </form>
    <!-- Default form login -->
                          

        </div>
        <!--/.Panel-->

    </div>
    <!-- Grid column -->


</div>
<!-- Grid row -->
</div>
